[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"delegator.py" = "*"
docopt = "*"
logme = "*"

[dev-packages]
bob-builder = {editable = true, path = "."}

[requires]
python_version = "3.7"
